@charset "UTF-8";
/****************************************:

スタイル読み込み

*****************************************:*/
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/*************

メディアクエリ定義

**************/
/********* モバイルファーストmixin*********************/
/********* PCファーストmixin*********************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
/*************

その他mixin集

**************/
body {
  font-size: 10px;
  /*IE9以前に対応する*/
  font-size: 0.625rem;
  margin: 0 auto;
  letter-spacing: 0;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "Yu Gothic Bold", "游ゴシック体", YuGothic, sans-serif;
  color: #1b224c;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.overall {
  font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "YuGothic", "Meiryo", verdana, "Osaka", "MS PGothic", Sans-Serif, "Yu Mincho", YuMincho, "MS P Mincho", serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/*************

モック画像
終わったら削除

**************/
.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 375px;
  opacity: 0.3;
  /* 反転 */
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

.section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  display: block;
  text-align: center;
}

.section_inner {
  width: 900px;
  margin: 0 auto;
}

/****************************************:

nav

*****************************************:*/
.nav {
  width: 100%;
  margin-left: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_item {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 1.81;
  margin-right: 28px;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_contact {
  margin-left: 326px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_time {
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 0.75rem;
  line-height: 1.66;
  text-align: right;
}

.nav_tel {
  position: relative;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

.nav_tel:before {
  position: absolute;
  content: '';
  background: url(../img/top/telcion.29.svg) no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav_ham {
  display: none;
}

@media screen and (max-width: 764px) and (min-width: 480px) {
  .nav_list {
    position: absolute;
    right: -1000px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_list.clicked {
    right: -5vw;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .nav_ham {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 25px;
    z-index: 100;
  }
  .nav_ham.clicked {
    right: 40px;
  }
  .nav_hamspan {
    font-size: 1.1rem;
    position: absolute;
    top: -20px;
    left: -25px;
  }
  .nav_line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .nav_line:nth-child(1) {
    top: 0px;
  }
  .nav_line:nth-child(2) {
    top: 8px;
  }
  .nav_line:nth-child(3) {
    top: 16px;
  }
  .nav_line.clicked:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(-315deg);
            transform: translateY(12px) rotate(-315deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .nav_line.clicked:nth-child(2) {
    left: 0;
    -webkit-transition: .9s;
    transition: .9s;
    opacity: 0;
  }
  .nav_line.clicked:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(315deg);
            transform: translateY(-4px) rotate(315deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .nav_item {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    line-height: 3;
    padding-right: 30px;
  }
  .nav_link {
    position: relative;
    display: block;
    letter-spacing: .2em;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav_link::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: -webkit-transform .7s;
    transition: -webkit-transform .7s;
    transition: transform .7s;
    transition: transform .7s, -webkit-transform .7s;
    background: #ffffff;
  }
  .nav_link:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .nav_link:hover {
    color: #ffffff;
    letter-spacing: .5em;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.site_btn {
  margin-left: 23px;
  width: 140px;
  height: 48px;
  border: 1px solid currentColor;
  color: #ffffff;
  background-color: #f5a623;
}

.site_btn.__con {
  margin-left: 10px;
  background-color: #1b224c;
}

/****************************************:

header

*****************************************:*/
.header {
  width: 100%;
  background-color: #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_ttl {
  width: 136px;
  height: 27px;
}

/****************************************:

fv

*****************************************:*/
.top_fv {
  background: url(../img/top/teachers.png) center/cover;
  height: 476px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.top_fv_inner {
  margin: auto;
  text-align: center;
}

.top_fv_copy_big {
  margin-bottom: 28px;
  font-size: 48px;
  /*IE9以前に対応する*/
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.35;
}

.top_fv_copy {
  margin-bottom: 51px;
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
  color: #ffffff;
  line-height: 1.72;
}

.top_fv .site_btn.__fv {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 60px;
  border-radius: 31px;
  margin-bottom: 22px;
}

.top_fv_contact {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  color: #ffffff;
  display: inline-block;
  border-bottom: 1px solid #ffffff;
}

.top_fv_link {
  display: block;
  width: 100%;
}

/****************************************:

intro

*****************************************:*/
.top_intro {
  padding: 63px 0 54px;
  background: #1b224c;
}

.top_intro .section_ttl {
  line-height: 1;
  color: #ffffff;
  margin-bottom: 65px;
}

.top_intro .section_inner {
  padding: 0;
}

.top_intro_txtbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
}

.top_intro_txt {
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
  margin-left: 57px;
  margin-bottom: 83px;
}

.top_intro_txt:first-child {
  margin-left: 0;
}

.top_intro_box {
  width: 900px;
  height: 248px;
  padding: 16px;
  background: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.top_intro_box_txt.__big {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  font-weight: bold;
  z-index: 1;
}

.top_intro_box_txt {
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
}

.top_intro_inbox {
  width: 869px;
  height: 206px;
  border: 1px solid #1b224c;
  margin: auto;
}

.top_intro_border {
  position: relative;
  z-index: 1;
}

.top_intro_border:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background: #f5a623;
  bottom: 5px;
  left: 0;
  z-index: -1;
}

/****************************************:

feature

*****************************************:*/
.top_feature {
  padding: 59px 0 39px;
}

.top_feature .section_ttl {
  margin-bottom: 59px;
}

.top_feature_box {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_feature_box:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.top_feature_txtbox {
  width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_feature_point {
  background-color: #f5a623;
  color: #ffffff;
  width: 90px;
  height: 30px;
  padding: 8px 0 12px;
  text-align: center;
  margin-right: auto;
  margin-bottom: 35px;
}

.top_feature_ttl {
  font-size: 26px;
  /*IE9以前に対応する*/
  font-size: 1.625rem;
  line-height: 1.5;
  margin-bottom: 19px;
}

.top_feature_txt {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 1.68;
}

.top_feature_imgbox {
  width: 350px;
  height: 240px;
}

.top_feature_imgbox:nth-child(even) {
  margin-left: initial;
}

.top_feature_bna {
  background: url(../img/top/price.png) center/cover;
  height: 217px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 53px;
}

.top_feature_bna_box {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_feature_bna_txt {
  font-size: 26px;
  /*IE9以前に対応する*/
  font-size: 1.625rem;
  color: #ffffff;
  margin-bottom: 27px;
  text-align: center;
}

.top_feature_bna_btn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid currentColor;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  display: block;
}

/****************************************:

success

*****************************************:*/
.top_success {
  padding: 58px 0 60px;
  background-color: #1b224c;
}

.top_success .section_ttl {
  margin-bottom: 137px;
  color: #ffffff;
}

.top_success_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_success_box {
  width: 280px;
}

.top_success_wrap {
  width: 280px;
  height: 171px;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 16px;
}

.top_success_imgbox {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 125px;
  height: 140px;
  background-color: #ffffff;
  margin-top: 31px;
}

.top_success_txt {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  background-color: #1b224c;
  color: #ffffff;
  line-height: 1.8125;
  margin-bottom: 9px;
}

.top_success_txtbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_success_txtbox .top_success_txt {
  display: inline-block;
  background-color: #ffffff;
  color: #1b224c;
}

.top_success_txtbox .top_success_txt.__job {
  width: 100px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.top_success_txtbox .top_success_txt.__name {
  width: 172px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.top_success_txtbox .top_success_txt.__point {
  width: 280px;
  padding-right: 8px;
}

/****************************************:

flow

*****************************************:*/
.top_flow {
  padding: 58px 0 75px;
}

.top_flow_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.top_flow_box:last-child {
  margin-bottom: 0;
}

.top_flow_num {
  color: #ffffff;
  background-color: #f5a623;
  padding: 24px 23px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin-right: 21px;
}

.top_flow_txtwrap {
  width: 200px;
  border-right: 1px solid #1b224c;
}

.top_flow_ttl {
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
  width: 200px;
  display: block;
}

.top_flow_txt {
  margin-left: 50px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

/****************************************:

question

*****************************************:*/
.top_question {
  padding: 0 0 90px;
}

.top_question_txt {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  position: relative;
  background-color: #ffffff;
  line-height: 1.6875;
  border-top: 1px solid #1b224c;
  margin-bottom: 15px;
  padding-top: 20px;
}

.top_question_txt::after {
  content: "+";
  font-size: 25px;
  /*IE9以前に対応する*/
  font-size: 1.5625rem;
  font-weight: bold;
  position: absolute;
  right: 2.5%;
}

.top_question_txt.open + .answer {
  height: 80px;
}

.top_question_txt.open::after {
  content: "ー";
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  font-weight: bold;
}

.top_question .answer {
  height: 0;
  overflow: hidden;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  position: relative;
  line-height: 1.6875;
  background-color: #f8f8f8;
  border-bottom: 1px solid #1b224c;
}

/****************************************:

footer

*****************************************:*/
