// mixin


/*************

メディアクエリ定義

**************/


//@mediaのフォーマット
//モバイルファースト　➡　min-widthから SPのmixinいらない
//PCファースト　➡　max-widthから PCのmixinいらない


//使わないほうは削除

// 必要に応じて、調整用mixiをいれる



/********* モバイルファーストmixin*********************/

//PC(モバイルファースト)
@mixin pc {
    @media screen and (min-width: $widthPc) {
        @content;
    }
}

//タブレット（モバイルファースト）
@mixin tab {
    @media screen and (min-width: $widthTab) and (max-width: $widthPc) {
        @content;
    }
}


/********* PCファーストmixin*********************/

//タブレット（PCファースト）
@mixin tab {
    @media screen and (max-width: $widthTab) and (min-width: $widthSP) {
        @content;
    }
}



//スマホ（PCファースト）
@mixin SP {
    @media screen and (max-width: $widthSP) {
        @content;
    }
}




/*************

font-size定義

**************/
//$sizeにpx表示を入れて使う

@mixin rem($size) {
    font-size: $size + px;
    /*IE9以前に対応する*/
    font-size: ($size / 16) + rem;
}


/*************

flex定義

**************/


@mixin flex($justify: space-between, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    flex-wrap: $wrap;
}

/*************

その他mixin集

**************/

// 親要素に対して中央寄せ
// 使用時は親要素にpostion:retative
//x:横方向、y:縦方向, xy:縦横方向中央寄せ

// 使うときは引数に x or y or xy
@mixin center($direction) {
    position: absolute;

    @if $direction==xy {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @else if $direction==x {
        left: 50%;
        transform: translateX(-50%);
    }

    @else if $direction==y {
        top: 50%;
        transform: translateY(-50%);
    }
}

// absolute
//使うときはnullの部分に数値
@mixin absolute($top:null, $right:null, $bottom:null, $left:null) {
    position: absolute;

    @if $top !=null {
        top: $top;
    }

    @if $right !=null {
        right: $right;
    }

    @if $bottom !=null {
        bottom: $bottom;
    }

    @if $left !=null {
        left: $left;
    }
}


// hover用
@mixin hover($ie: false) {
    &:focus {
        @content;
    }

    @media (hover) {
        &:hover {
            @content;
        }
    }

    @if $ie {
        @at-root .ua-ie &:hover {
            @content;
        }
    }
}