// サイトコンテンツスタイル用


/****************************************:

header

*****************************************:*/

.header {
    width: 100%;
    background-color: $cWhite;
    padding: 15px;

    display: flex;
    
    &_ttl {
        width: 136px;
        height: 27px;
        margin-right: 28px;
    }
}




/****************************************:

fv

*****************************************:*/







/****************************************:

section

*****************************************:*/








/****************************************:

footer

*****************************************:*/



