// サイトコンテンツスタイル用


/****************************************:

header

*****************************************:*/

.header {
    width: 100%;
    background-color: $cWhite;
    padding: 0 15px;

    &_ttl {
        width: 136px;
        height: 27px;
    }
}




/****************************************:

fv

*****************************************:*/







/****************************************:

section

*****************************************:*/








/****************************************:

footer

*****************************************:*/



