// サイトコンテンツスタイル用


/****************************************:

header

*****************************************:*/

.header {
    width: 100%;
    background-color: $cWhite;
    padding: 15px;


    display: flex;
    align-items: center;
    
    &_ttl {
        width: 136px;
        height: 27px;
        // margin-right: 28px;
    }
}




/****************************************:

fv

*****************************************:*/

.top_fv{
    background: url(../img/top/teachers.png) center / cover;
    // width: 100%;
    height: 476px;
    display: flex;

    &_inner {
        margin: auto;
        text-align: center
    }
    &_copy_big {
        margin-bottom: 28px;
        @include rem(48);
        color: $cWhite;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.35

    }

    &_copy {
        margin-bottom: 51px;
        @include rem(18);
        // text-align: center;
        color: $cWhite;
        line-height: 1.72;
    }

    .site_btn.__fv {
        display: block;
        margin: 0 auto;
        width: 280px;
        height: 60px;
        border-radius: 31px;
        margin-bottom: 22px;

    }

    &_contact {
        @include rem(16);
        color: $cWhite;
        display: inline-block;
        // width: 100%;
        border-bottom: 1px solid $cWhite;
    }
    
    &_link {
        
        display: block;
        width: 100%;

    }

    


}





/****************************************:

intro

*****************************************:*/
.top_intro {
    padding: 63px 0 54px;
    background: $cBlack;

    .section_ttl {
        line-height: 1;
        color: $cWhite;
        margin-bottom: 65px;
    }

    &_txtbox {
        display: flex;
        justify-content: center;
        text-align: center;
        color: $cWhite;
    }
    
    &_txt {
        @include rem(18);
        margin-left: 57px;

        &:first-child {
            margin-left: 0;
        }
    }

    &_box {
        width: 100%;
        // height: 248px;
        background: $cWhite;
        text-align: center;

        &_txt.__big {
            @include rem(36);
            font-weight: bold;
            z-index: 1;
        }

    }

    &_inox {
        margin: 5px;
        border: 1px solid red;
    }

    &_border {
        position: relative;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 5px;
            background: $cOrange;
            bottom: 10px;
            left: 0;
            // opacity: .9;
        }
    }
}







/****************************************:

footer

*****************************************:*/



