// サイトコンテンツスタイル用


/****************************************:

header

*****************************************:*/

.header {
    width: 100%;
    background-color: $cWhite;
    padding: 15px;


    display: flex;
    align-items: center;
    
    &_ttl {
        width: 136px;
        height: 27px;
        // margin-right: 28px;
    }
}




/****************************************:

fv

*****************************************:*/

.top_fv{
    background: url(../img/top/teachers.png) center / cover;
    // width: 100%;
    height: 476px;
    display: flex;

    &_inner {
        margin: auto;
        text-align: center
    }
    &_copy_big {
        @include rem(48);
        color: $cWhite;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.35

    }

    &_copy {
        @include rem(18);
        // text-align: center;
        color: $cWhite;
        line-height: 1.72;
    }

    .site_btn.__fv {
        display: block;
        margin: 0 auto;
        width: 280px;
        height: 60px;
        border-radius: 31px;

    }


}





/****************************************:

section

*****************************************:*/








/****************************************:

footer

*****************************************:*/



